.ide-statusbar {
    grid-area: statusbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: var(--border-color);
    color: var(--text-bright);
    user-select: none;
    gap: 6px;
}

.ide-statusbar button {
    background: transparent;
    color: var(--text-bright);
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 0;
    font-size: 12px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ide-statusbar button:hover {
    opacity: 1;
    background: var(--hover-overlay);
}
