.ide-topbar {
    grid-area: topbar;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 4px;
    background: var(--border);
    border-bottom: 1px solid var(--bg-panel);
    user-select: none;
}

.ide-topbar button {
    padding: 4px 8px;
    color: var(--text-primary);
}

.ide-topbar span:hover {
    background: var(--bg-hover);
}
