.file-icon {
    font-size: 14px;
}

.file-icon-default {
    color: var(--icon-color-default);
}

.file-icon-h,
.file-icon-hpp,
.file-icon-hxx {
    color: var(--icon-color-header);
}

.file-icon-c,
.file-icon-cpp,
.file-icon-cxx {
    color: var(--icon-color-cpp);
}

.file-icon-json {
    color: var(--icon-color-json);
}

.file-icon-md {
    color: var(--icon-color-markdown);
}
