.overlay-scrollbar--tabs {
    background: var(--border-color);
    border-bottom: 1px solid var(--bg-panel);
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    min-width: 0;
}

.overlay-scrollbar--tabs .os-scrollbar-horizontal {
    inset-block-start: 0;
    inset-block-end: auto;
    top: 0;
    bottom: auto;
}

.overlay-scrollbar--tree {
    flex: 1;
    height: 100%;
    min-height: 0;
}

.os-theme-ide {
    --os-size: 10px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: transparent;
    --os-track-bg-hover: transparent;
    --os-track-bg-active: transparent;
    --os-handle-bg: var(--scrollbar-handle);
    --os-handle-bg-hover: var(--scrollbar-handle-hover);
    --os-handle-bg-active: var(--scrollbar-handle-active);
    --os-handle-border-radius: 0;
    --os-handle-min-size: 26px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
}

.os-theme-ide-tabs {
    --os-size: 3px;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: transparent;
    --os-track-bg-hover: transparent;
    --os-track-bg-active: transparent;
    --os-handle-bg: var(--scrollbar-handle);
    --os-handle-bg-hover: var(--scrollbar-handle-hover);
    --os-handle-bg-active: var(--scrollbar-handle-active);
    --os-handle-border-radius: 0;
    --os-handle-min-size: 16px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
}
