:root {
    --bg-base: #282c34;
    --bg-panel: #21252b;
    --bg-hover: #2c313a;
    --bg-active: #282c34;
    --bg-selection: #3e4451;

    --border: #181a1f;

    --text-primary: #abb2bf;
    --text-muted: #636d83;
    --text-bright: #ffffff;

    --accent: #528bff;
    --accent-dark: #3a6ed8;

    --color-black: #080808;
    --color-red: #e06c75;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--bg-panel);
    font-family: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    background: transparent;
}
